footer.mdl-mini-footer
    div.mdl-mini-footer__left-section
        div.mdl-logo Logotipo
        ul.mdl-mini-footer__link-list
            li
                a(href="#") Link 1
            li        
                a(href="#") Link 2
            li
                a(href="#") Link 3
    div.mdl-mini-footer__right-section
        div.mdl-logo Logotipo
        ul.mdl-mini-footer__link-list
            li
                a(href="#") Link 1
            li        
                a(href="#") Link 2
            li
                a(href="#") Link 3