div.mdl-layout-icon
div.mdl-layout__header-row 
    //Header title
    span(id="changeLogo").mdl-layout__title
        img(src="assets/img/logotipo.png")
        //i.material-icons more_vert
    ul(for="changeLogo").mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect
        li.mdl-menu__item [Logo 1]
        li.mdl-menu__item [Logo 2]
    div.mdl-layout-spacer
    //Search text
    div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-righ
        label(for="txtSearchGeneral").mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons search
        div.mdl-textfield__expandable-holder
            input(type="text", name="searchGeneral", id="txtSearchGeneral").mdl-textfield__input
    //Alerts
    div.classe(id="menuNotifications")
        div(data-badge="1").material-icons.mdl-badge.mdl-badge--overlap notifications
        ul(for="menuNotifications").mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl.js-ripple-effect
            li.mdl-menu__item.mdl-button.mdl-js-button.mdl-button--colored 
                i.material-icons schedule
                span  Alert 1
            li.mdl-menu__item.mdl-menu__item--full-bleed-divider.mdl-button.mdl-js-button.mdl-button--colored 
                i.material-icons settings_phone 
                span  Alert 2
            li(disabled="disabled").mdl-menu__item.mdl-button.mdl-js-button.mdl-button--colored
                i.material-icons build
                span  Alert 3
            li.mdl-menu__item.mdl-button.mdl-js-button.mdl-button--colored
                i.material-icons alarm
                span  Alert 4
    div.info-user 
        div.info-user__header 
            div Fernando Zoma
            a(href="#").info-user__link Logout
        div.info-user__image
            img(src="assets/img/user.png")