doctype html
html(lang="pt-br" ng-app="app")
	head
		title Titulo do site
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		//build:css assets/css/libs/font-awesome.css
		link(href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet")
		//endbuild
		//build:css assets/css/main.css
		link(href="assets/css/main.css" rel="stylesheet")  
		//endbuild
	body
		include includes/header.pug
		include includes/nav.pug
		ui-view
		include includes/footer.pug
		//build:js assets/js/libs/angular.js
		script(src="../bower_components/angular/angular.js")
		script(src="../bower_components/angular-ui-router/release/angular-ui-router.js")
		script(src="../bower_components/angular-resource/angular-resource.js")
		//endbuild
		//build:jsNgAnnotate default.js
		script(src="app.js")
		script(src="config.js")
		script(src="router.js")
		script(src="controllers/headerController.js")
		//endbuild