form
    div.mdl-grid
        div.mdl-cell.mdl-cell--2-col
            div.mdl-textfield.mdl-js-textfield
                input(type="text", id="colaborador").mdl-textfield__input
                label(for="colaborador").mdl-textfield__label Colaborador
        div.mdl-cell.mdl-cell--2-col
            div.form-select.form-select-js
                select(id="gender", name="gender").form-select__select
                    option(value="1") Item 1
                    option(value="3") Item 2 
                label.form-select__label(for="gender") User gender
                span.form-select__error Select a value
