model-window(title="COLABORADOR", rota="404")
    div.model-window__content__small  
        | {{title}}
    div.model-window__content__medium
        p Type Window medium
        a(ui-sref=".405").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista
    div.model-window__content__large
        p Type Window large
        a(ui-sref=".405").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista 
ui-view  






