model-window(title="406", rota="404.405.406")
    div.model-window__content__small
        p Type Window small   
        a(ui-sref=".407").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista
    div.model-window__content__medium
        p Type Window medium
        a(ui-sref=".407").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista
    div.model-window__content__large
        p Type Window large
        a(ui-sref=".407").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista 
ui-view  