div.model-window
    div.model-window__header(ng-click="changeVisualization()")
        div.model-window__header__icon
            i.material-icons view_column
        div.model-window__header__title
            | Lista de colaboradores
        div.model-window__header__close
            button.mdl-button.mdl-js-button.mdl-button--primary
                i.material-icons close
    div.model-window__small(ng-show="visualizationIndex==2")
        | Type Window small
        a(ui-sref=".details").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista
    div.model-window__medium(ng-show="visualizationIndex==1")
        | Type Window medium
        a(ui-sref=".details").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista
    div.model-window__large(ng-show="visualizationIndex==0")
        p Type Window large 
        a(ui-sref=".details").mdl-button.mdl-button--raised.mdl-js-button.mdl-button--colored Lista
ui-view
