h1 Formulário de cadastro
h1 Atualização de dados
form(name="form")
    div.form-group
        label Usuario
        input(type="text" ng-model="user.username").form-control
    div.form-group
        label Senha
        input(type="text" ng-model="user.password").form-control 
    div.form-group
        label Photo
        input(type="file" name="file" file-model="user.file").form-control
    div.form-group
        button.btn.btn-success(type="button" ng-click="submit()") Atualizar     
ui-view  






